@font-face {
    font-family: "Aniron";
    src: url("fonts/Aniron-7BaP.ttf");
}

@font-face {
    font-family: "Aniron-Bold";
    src: url("fonts/AnironBold-mL9P.ttf");
}

@font-face {
    font-family: "Party-Business";
    src: url("fonts/PartyBusiness-4B0K.ttf");
}

@font-face {
    font-family: "tngani";
    src: url("fonts/tngani.ttf");
}